/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("light-blue", "lighten-2") !default;
$secondary-color: color("green", "lighten-2") !default;
$base_white: #ffffff ;
$text_color: #4e5665;
$paper_color: #fafafa;
$strong_color: #ffb300;
$danger_color: #e64a19;
@import 'materialize';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
	color: $text_color;
}

// header_nav
header {
	background: $base_white;
	height: fit-content;
	.header-top {
		width: 100%;
	}
	.header-right {
		width: 100%;
		display: inline-flex;
		justify-content: flex-end;
		.header-search {
			display: flex;
			.field{
				display: inline-flex;
				.search_btn {
					margin: 8px;
				}
				.search_field {
					height: 16px;
					margin: 0;
					border: 3px solid $text_color;
					border-radius: 5px;
					background: $base_white;
				}
			}
		}
	}
}
//パンくずリスト
.breadcrumbs {
	.breadcrumb {
		color: #808080;
	}
}
// footer
.page-footer {
	height: 160px;
}
//通知ページ
.notification-wrap {
	padding: 16px 44px;
	.notification-paginate{
		text-align: center;
	}
	.head-title {
		text-align: center;
	}
	.notification-line {
		display: flex;
		align-items: center;
		margin: 8px auto;
		width: 80%;
		border-bottom: 1px solid $text_color;
		.visitor-notification {
		}
		.visited-notification {
			margin-left: 16px;
		}
		.notification-time {
			margin-left: 16px;
		}
	}
}

//admin権限
.all-users {
	width: 90%;
	margin: 8px auto;
	.users-table {
		padding: 16px;
		.table-header {
			background: #e1f5fe;
		}
		.success_btn {
			display: inline-block;
			width: 100%;
			border: 1px solid #e64a19;
			color: $strong_color;
			border-radius: 16px;
			text-align: center;
			padding: 8px;
			font-weight: bold;
			&:hover {
				background: $strong_color;
				color: $base_white;
			}
		}
		.danger_btn {
			display: inline-block;
			width: 100%;
			border: 1px solid $danger_color;
			color: $danger_color;
			border-radius: 16px;
			text-align: center;
			padding: 8px;
			font-weight: bold;
			&:hover {
				background: $danger_color;
				color: $base_white;
			}
		}
	}
}
//管理者書籍
.all-books {
	width: 90%;
	margin: 8px auto;
	.books-table {
		padding: 16px;
		.table-header {
			background: #e1f5fe;
		}
		.success_btn {
			display: inline-block;
			width: 100%;
			border: 1px solid #e64a19;
			color: $strong_color;
			border-radius: 16px;
			text-align: center;
			padding: 8px;
			font-weight: bold;
			&:hover {
				background: $strong_color;
				color: $base_white;
			}
		}
		.danger_btn {
			display: inline-block;
			width: 100%;
			border: 1px solid $danger_color;
			color: $danger_color;
			border-radius: 16px;
			text-align: center;
			padding: 8px;
			font-weight: bold;
			&:hover {
				background: $danger_color;
				color: $base_white;
			}
		}
	}
}
//ダッシュボード
.activity {
	width: 100%;
	display: flex;
	.dashboard {
		width: 30%;
		height: 600px;
		background: red;
	}
	.graph-wrap {
		width: 70%;
		flex-direction: column;
		.users-graph {
			width: 100%;
			background: blue;
		}
		.under-wrap {
			display: flex;
			width: 100%;
			.books-graph {
				width: 50%;
				background: pink;
			}
			.reviews-graph {
				width: 50%;
				background: peru;
			}
		}
	}
	
}