/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("light-blue", "lighten-2") !default;
$secondary-color: color("green", "lighten-2") !default;
$base_white: #ffffff ;
$text_color: #4e5665;
$paper_color: #fafafa;
$strong_color: #ffb300;
$danger_color: #e64a19;
@import 'materialize';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
	color: $text_color;
}

// header_nav
header {
	background: $primary-color;
	height: fit-content;
	.header-top {
		width: 100%;
	}
	.header-right {
		width: 100%;
		display: inline-flex;
		justify-content: flex-end;
	}
}
//パンくずリスト
.breadcrumbs {
	.breadcrumb {
		color: #808080;
	}
}
// footer
.page-footer {
	height: 160px;
}

