// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

.emun-field {
	margin: 16px;
}

//Book登録ページ
.book_new_edit-page {
	width: 90%;
	margin: 24px auto;
	form {
		width: 100%;
		display: flex;
		.side-image-field {
			width: 30%;
			height: 50%;
			margin: 16px;
			text-align: center;
			.image-label {
			}
		}
		.input-text {
			width: 70%;
			margin: 16px;
			padding: 16px;
			.success_btn {
				display: inline-block;
				width: 100%;
				color: $base_white;
				background: $strong_color;
				border-radius: 16px;
				text-align: center;
				padding: 8px;
				font-weight: bold;
				&:hover {
					background: $base_white;
					color: $strong_color;
					border: 1px solid #e64a19;
				}
			}
		}
	}
}

//Book一覧
.book_search-form {
	background: $paper-color;
	padding: 8px;
}
.book_category-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.language-wrap {
		width: 25%;
		margin: 8px;
		background: #ef5350;
		color: $base_white;
		font-size: 24px;
	}
}
.book_stock-area {
	.book_section-title {

	}
	.book_section-cards {
		display: flex;
		flex-wrap: wrap;
		.card {
			width: 250px;
			margin-right: 10px;
			.inner-btn {
				.btn {
					width: 100%;
				}
			}
		}
	}
}

//Book詳細

.book_show-page {
	width: 90%;
	margin: 0 auto;
	.book_description-area {
		padding: 8px;
		margin: 16px;
		display: flex;
		background: $paper-color;
		.image-size {
			width: 40%;
			.book_image {
			}
		}
		.book_description {
			width: 100%;
			margin-left: 8px;
			.book_table {
				width: 80%;
				margin: 0 auto;
			}
			.btn-wrap {
				display: flex;
				justify-content: space-around;
				width: 90%;
				margin: 16px auto;
				.edit-btn {
					display: inline-block;
					width: 40%;
					padding: 8px;
					border: 1px solid $strong-color;
					color: $strong-color;
					border-radius: 16px;
					text-align: center;
					font-weight: bold;
					&:hover {
						background: $strong-color;
						color: $base_white;
					}
				}
				.delete-btn {
					display: inline-block;
					width: 40%;
					padding: 8px;
					border: 1px solid #e64a19;
					color: #e64a19;
					border-radius: 16px;
					text-align: center;
					font-weight: bold;
					&:hover {
						background: #e64a19;
						color: $base_white;
					}
				}
			}
			.favorite-wrap {
				p {
					text-align: end;
					.favorite-inner-text {
						display: inline-block;
						margin-right: 16px;
						font-size: 24px;
						font-weight: bold;
					}
				}
			}
		}
		.category-books {
			.book-image {
				width: 40px;
				height: 80px;
				.inner-image {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	#reviews_area {
		.book_review {
			display: flex;
			.review-user {
			}
			.review-content {
				position: relative;
				display: inline-block;
				margin: 8px;
				padding: 7px 10px;
				min-width: 120px;
				max-width: 100%;
				color: #555;
				font-size: 16px;
				background: #e0edff;
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					right: -25px;
					margin-top: -15px;
					border: 15px solid transparent;
					border-left: 15px solid #e0edff;
				  }
			  }
		}
	}
	.review_float-btn {
		position: fixed;
		bottom: -20px;
		right: -20px;
		padding: 48px;
		background: $strong-color;
		border-radius: 100%;
		text-align: center;
		.material-icons {
			font-size: 40px;
		}
	}
}
