// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

.emun-field {
	margin: 16px;
}

//Book一覧
.book_search-form {
	background: $paper-color;
	padding: 8px;
}
.book_stock-area {
	.book_section-title {

	}
	.book_section-cards {
		display: flex;
		flex-wrap: wrap;
		.card {
			width: 250px;
			margin-right: 10px;
		}
	}
}

//Book詳細

.book_show-page {
	.book_description-area {
		display: flex;
		.image-size {
			width: 40%;
			.book_image {
			}
		}
		.book_description {
			width: 100%;
			.book_table {
				width: 80%;
				margin: 0 auto;
			}
		}
	}
	.review_float-btn {
		position: fixed;
		bottom: -20px;
		right: -20px;
		padding: 48px;
		background: $strong-color;
		border-radius: 100%;
		text-align: center;
		// .float-btn-text {
		// 	font-size: 8px;
		// 	color: $text-color;
		// }
		.material-icons {
			font-size: 40px;
		}
	}
}
