// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

.emun-field {
	margin: 16px;
}

//Book登録ページ
.book_new_edit-page {
	width: 90%;
	margin: 0 auto;
	form {
		width: 100%;
		display: flex;
		border-radius: 3px;
		.side-image-field {
			width: 100%;
			height: 80%;
			text-align: center;
			.file_btn {
				width: 70%;
				margin: 0 auto;
			}
		}
		.input-text {
			width: 100%;
			margin: 16px;
			padding: 16px;
			.success_btn {
				@include success_btn
			}
		}
	}
}

//Book一覧
.book_index-area {
	width: 90%;
	margin: 0 auto;
	.search-wrap {
		display: flex;
		.description-search {
			width: 40%;
			margin-top: 16px;
			margin: 0 auto;
			.book_search-form {
				background: $paper-color;
				padding: 16px;
				margin-top: 28px;
				.success_btn {
					@include success_btn
				}
			}
		}
		.category-search {
			display: flex;
			flex-wrap: wrap;
			padding: 80px 0 0 0;
			width: 50%;
			margin: 8px auto;
			justify-content: space-around;
			.language-wrap {
				width: 45%;
				height: 80px;
				margin: 8px;
				border-radius: 3px;
				text-align: center;
				color: white;
				position: relative;
				&:hover {
					opacity: 0.8;
				}
				.languagge-search-link {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}
				.language-text {
					font-size: 24px;
					line-height: 80px;
					color: $base_white;
					position: relative;
					margin-left: 24px;
					i {
						position: absolute;
						top: 3px;
						left: -30px;
					}
				}
			}
			.lang-markup {
				background: #81c784 ;
			}
			.lang-javascript {
				background: #90caf9;
			}
			.lang-ruby {
				background:#ff5252;
			}
			.lang-php {
				background:#ffee58;
			}
			.lang-aws {
				background:#ffca28;
			}
			.lang-git {
				background:#424242;
			}
		}
	}
	.book_stock-area {
		.book_section-title {
		}
		.book_section-cards {
			display: flex;
			flex-wrap: wrap;
			.card {
				width: 250px;
				margin-right: 10px;
				.card-content {
					.success_btn {
						color: $strong_color;
						font-weight: bold;
					}
				}
				.inner-btn {
					.btn {
						width: 100%;
					}
				}
			}
		}
	}
}


//Book詳細

.book_show-page {
	width: 90%;
	margin: 0 auto;
	.book_description-area {
		padding: 8px;
		margin: 16px 0;
		display: flex;
		border-radius: 3px;
		background: $paper-color;
		.image-size {
			width: 36%;
    		margin-left: 16px;
			img {
				width: 100%;
				height: 70%;
			}
		}
		.book_description {
			width: 60%;
			margin-left: 8px;
			.book_table {
				width: 80%;
				margin: 0 auto;
			}
			.btn-wrap {
				display: flex;
				justify-content: space-around;
				width: 90%;
				margin: 16px auto;
				.edit-btn {
					display: inline-block;
					width: 40%;
					@include success_btn
				}
				.delete-btn {
					display: inline-block;
					width: 40%;
					@include danger_btn
				}
			}
			.favorite-wrap {
				p {
					text-align: end;
					.favorite_btn {
						margin-right: 9%;
						color: $strong_color;
						font-weight: bold;
					}
				}
			}
		}
		.category-books {
			.book-image {
				width: 40px;
				height: 80px;
				.inner-image {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	#reviews_area {
		.book_review {
			display: flex;
			width: 100%;
			margin: 0 auto;
			.review-users {
				width: 16%;
				padding-top: 2%;
				align-items: center;
				.user_avater {
					width: 100%;
					text-align: center;
					img {
						width: 80%;
					}
				}
				.user_name {
					width: 100%;
					text-align: center;
				}
			}
			.review-content {
				position: relative;
				display: inline-block;
				width: 86%;
				margin: 8px 0;
				padding: 8px;
				color: #555;
				font-size: 16px;
				border-radius: 3px;
				background: #e1f5fe;
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					right: -25px;
					margin-top: -15px;
					border: 15px solid transparent;
					border-left: 15px solid #e0edff;
				}
				.btn-wrap {
					display: inline-flex;
					.success_btn {
						@include success_btn;
						margin-right: 8px;
					}
					.danger_btn {
						@include danger_btn;
					}
				}
			}
		}
	}
	.reviews_pagination {
		width: 80%;
		margin: 0 auto;
	}
	.review_float-btn {
		position: fixed;
		bottom: -20px;
		right: -20px;
		padding: 48px;
		background: $strong-color;
		border-radius: 100%;
		text-align: center;
		.material-icons {
			font-size: 40px;
		}
	}
}
