// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

//header
header {
	nav {
		background: $base_white;
		.nav-wrapper {
			display: inline-flex;
			width: 100%;
			.bland-logo {
				color: $primary-color;
				margin-left: 16px;
			}
			.menu-icon {
				color: $primary-color;
			}
			.mail-icon-wrap {
				position: absolute;
				right: 28%;
				top: 0;
				.mail-icon {
					color: $primary-color;
				}
			}
			form {
				display: inline-flex;
				position: absolute;
				right: 0;
				width: 24%;
				.field {
					position: relative;
					.search-icon {
						position: absolute;
						border-radius: 100%;
						background: $primary-color;
						top: 13px;
						right: 0px;
						.material-icons {
							position: absolute;
							top: -13px;
							right: 3px;
						}
					}
				}
			}
		}
	}
	.sidenav {
		width: 240px;
		background: #e1f5fe;
		.user-level {
			text-align: center;
			.level {
				font-size: 24px;
				font-weight: bold;
				color: $strong_color;
			}
		}
		.notification-header-line {
			position: relative;
			.notification-inner-text {
				position: absolute;
				top: -4px;
    			left: 90px;
			}
		}
		.n-circle {
			position: absolute;
			padding-left: 1rem;
			padding-top: 0rem;
			color: #efa04c;
		}
	}
	.nav-wrapper {
		text-align: center;
		.bland-logo {
			font-size: 24px;
		}
	}
}
//top_page
.top_main-sec {
	width: 100%;
	min-height: 91vh;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: image-url('background_book.jpg');
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	.authenticate-area {
		width: 40%;
		min-height: 400px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-right: 5%;
		background: rgba(225, 245, 254, 0.797);
		.authenticate-link {
			width: 100%;
			text-align: center;
			.btn {
				width: 50%;
				opacity: 1.0;
			}
			.github-btn {
				background: $text_color;
				.fa-github {
					margin-right: 5px;
				}
			}
		}
	}
}

.top_section {
	.top_section-title {
		width: 30%;
		margin: 24px auto;
		text-align: center;
		border-bottom: 3px solid $primary-color;
	}
	//各タブcss
	#top_about {
		min-height: 680px;
		.top_about-box {
			display: flex;
			margin: 32px 0;
			.about-image {
				width: 50%;
				img {
					width: 100%;
					margin: 0 auto;
					height: 200px;
				}
			}
			.content-title {
				margin-top: 16px;
				padding-left: 8px;
				border-left: 16px solid $primary-color;
			}
			.about-content-ri {
				width: 50%;
				margin-left: 16px;
				position: relative;
				.btn {
					width: 40%;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
			.about-content-le {
				width: 50%;
				margin-right: 16px;
				position: relative;
				.btn {
					width: 40%;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
	#top_flow {
		margin: 16px 0;
		min-height: 48vh;
		.top_flow-boxies {
			display: flex;
			align-items: center;
			.material-icons {
				font-size: 24px;
			}
			.flow-box {
				text-align: center;
				.flow-image {
					width: 100px;
					margin: 0 auto;
					img {
						width: 100px;
						height: 100px;
					}
				}
				.flow-content {
					.flow-content-text {
						font-size: 12px;
					}
				}
			}
		}
	}
	#top_contact {
		margin: 16px 0;
		min-height: 68vh;
		.top_contact-box {
			width: 50%;
			margin:  auto;
			text-align: center;
			.contact-form-wrap {
				.send-btn {
					width: 100%;
					margin-top: 8px;
					color: $base_white;
					position: relative;
					.material-icons {
						position: absolute;
						top: 1px;
						padding-left: inherit;
					}
				}
			}
			.fab{
				font-size: 50px;
				margin: 16px;
			}
			.fa-twitter {
				color: #4fc3f7;
			}
			.fa-facebook-square {
				color: #2979ff;
			}
			.fa-github {
				color: #212121;
			}
		}
	}
}