// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

//top_page
.top_main-sec {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: image-url('top.jpg');
	background-position: center;
	background-size: cover;
	height: 480px;
	.authenticate-area {
		width: 30%;
		height: 80%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-right: 5%;
		background: rgba(255,255,255,0.8);
		.authenticate-link {
			width: 100%;
			text-align: center;
			.btn {
				width: 50%;
				opacity: 1.0;
			}
			.github-btn {
				background: $text_color;
				.fa-github {
					margin-right: 5px;
				}
			}
		}
	}
}

.top_section {
	.top_section-title {
		width: 30%;
		margin: 24px auto;
		text-align: center;
		border-bottom: 3px solid $primary-color;
	}
	//各タブcss
	#top_about {
		.top_about-box {
			display: flex;
			margin: 32px 0;
			.about-image {
				width: 50%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.content-title {
				margin-top: 16px;
				padding-left: 8px;
				border-left: 16px solid $primary-color;
			}
			.about-content-ri {
				margin-left: 16px;
				position: relative;
				.btn {
					width: 40%;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
			.about-content-le {
				margin-right: 16px;
				position: relative;
				.btn {
					width: 40%;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
	#top_flow {
		margin: 16px 0;
		.top_flow-boxies {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.material-icons {
				font-size: 24px;
			}
			.flow-box {
				text-align: center;
				.flow-image {

				}
				.flow-content {

				}
			}
		}
	}
	#top_contact {
		margin: 16px 0;
		.top_contact-box {
			width: 50%;
			margin:  auto;
			text-align: center;
			.contact-form-wrap {
				.send-btn {
					width: 100%;
					margin-top: 8px;
					color: $base_white;
					position: relative;
					.material-icons {
						position: absolute;
						top: 1px;
						padding-left: inherit;
					}
				}
			}
			.fab{
				font-size: 50px;
				margin: 16px;
			}
			.fa-twitter {
				color: #4fc3f7;
			}
			.fa-facebook-square {
				color: #2979ff;
			}
			.fa-github {
				color: #212121;
			}
		}
	}
}