// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.review_edit-page {
	width: 80%;
	margin: 24px auto;
	form {
		margin: 16px;
		.success_btn {
			@include success_btn;
		}
	}
}

