@import 'application';

//新規登録及びログイン画面
.authenticate-wrap {
	width: 100%;
	.form-wrap {
		width: 60%;
		margin: 0 auto;
		padding: 24px;
		.success_btn {
			width: 100%;
			color: $base_white;
			font-weight: bold;
		}
	}
}

//ユーザー詳細画面
.user_profile-page {
	width: 80%;
	margin: 16px auto;
	display: flex;
	.user-profile {
		width: 30%;
		margin: 0 0 24px 0;
		.user-image {
			width: 80%;
        	margin: 24px auto;
			img {
				width: 100%;
			}
		}
		.user-info {
			width: 100%;
			padding: 0 24px 8px 24px;
			border-radius: 3px;
			.level-text {
				color: $strong_color;
				font-size: 24px;
				font-weight: bold;
			}
			.success_btn {
				@include success_btn
			}
		}
	}
	.user-left {
		width: 70%;
		.table-header {
			background: #e1f5fe;
		}
		.user-activity {
			width: 100%;
			margin:0 0 8px 8px;
		}
		.user-bookmark {
			width: 100%;
			margin: 0 0 24px 8px;
			.bookmark-heading {
				border-left: 16px solid #4fc3f7;
				font-size: 16px;
				padding: 8px;
			}
			.bookmark-books {
				display: flex;
				.bookmark-book {
					width: 25%;
					margin: 16px 8px;
					.bookmark-book-image {
						width: 100%;
						margin: 0;
						img {
							width: 100%;
							height: 140px;
						}
					}
					.bookmark-book-title {
						width: 100%;
						font-weight: bold;
					}
					.bookmark-link {
						.success_btn {
							padding: 0;
							color: $strong_color;
						}
					}
				}
			}
		}
	}
}

//ユーザー編集画面
.user_edit-page {
	width: 80%;
	margin: 0 auto;
	form {
		display: flex;
		width: 100%;
		.user-image-wrap {
			width: 40%;
			margin-bottom: 16px;
			.user-avater {
				width: 100%;
				text-align: center;
				margin: 0;
				img {
					width: 100%;
				}
			}
		}
		.user-info {
			width: 68%;
			border-radius: 3px;
			padding: 24px;
			margin: 0 0 24px 16px;
			.success_btn {
				@include success_btn
			}
		}
	}
}
