/ - reviews.each do |review|
/ 	.book_review
/ 		.review-content.z-depth-1
/ 			= review.title
/ 			br
/ 			= review.body
/ 			p id="star-rate-#{review.id}"

/ 			/　いいねボタンフォーム
/ 			p id="clap-#{review.id}"
/ 				= render 'claps/claps', { review: review, book: review.book }

/ 			- if current_user == review.user
/ 				.btn-wrap
/ 					= link_to '編集する', edit_book_review_path(book, review), class: "success_btn z-depth-2"
/ 					= link_to '削除する', book_review_path(book, review), method: :delete, class: "danger_btn z-depth-2"
/ 		.review-users
/ 			= image_tag(review.user.image.to_s, :size => '100x100', :class => 'circle' || 'default.jpg', :size => '100x100', :class => 'circle')
/ 			= link_to review.user.name, user_path(review.user), class: "review-user"
/ 		/ スターの表示
/ 		javascript:
/ 			$('#star-rate-#{review.id}').raty({
/ 				size: 36,
/ 				starOff: "#{asset_path('star-off.png')}",
/ 				starOn: "#{asset_path('star-on.png')}",
/ 				starHalf: "#{asset_path('star-half.png')}",
/ 				scoreName: 'review[rate]',
/ 				half: true,
/ 				readOnly: true,
/ 				score: "#{review.rate}"
/ 			});
/ .reviews_pagination
/ 	= paginate reviews
