- provide(:title, 'レビュー編集')

.review_edit-page
	h4.page_title　レビューの編集
	.reveiw-form.z-depth-2
		= form_with model: @review, url: book_review_path(@book),local: true do |f|
			= render "shared/review_fields", { review: @review, book: @book, f: f }


javascript:
	$('#star').raty({
		size: 48,
		starOff: "#{asset_path('star-off.png')}",
		starOn: "#{asset_path('star-on.png')}",
		starHalf: "#{asset_path('star-half.png')}",
		scoreName: 'review[rate]',
		half: true
	});